# Environments
.env
.venv/

# Logs
app.log
*.log

# PyInstaller
dist/
build/
*.spec
release/
*.zip

# Personal files and Drafts
trash.py
PLAN.md
main.py
*.txt
!context.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.pytest_cache/
